.button{
    display:block;    
    padding: .5em 1em;
    cursor: pointer;
    
    &-survey{
        border: 1px solid #f62e46;
        color:#f62e46;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
    }
}

.aqua{
    background-color: #f62e46;
    color: white;

    
}