-let pageTitle = 'Home'
-let siteName = 'Navilark'
-let twitterAccount = '@adperu'
-let pageDescription = 'Navilark'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'About',
      url: 'about.html',
      child: [
        {
          title: 'Subitem1',
          url: 'subitem1.html'
        },
        {
          title: 'Subitem2',
          url: 'subitem2.html'
        }
      ]
    }
  ]
